@font-face {
  font-family: myFont;
  src: url(/HelveticaNeue.ttc);
}
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: myFont;
}

body {
  display: none;
}

@media (min-width: 1780px) {
  html,
  body,
  #root {
    font-family: myFont;
    min-height: 100vh;
    display: block;
  }
}
